doctype html
html(lang='en')
  head
    title Training web technologies
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/all.css', rel='stylesheet')
    link(href='/css/vendor.css', rel='stylesheet')
  body
    article
      h1
        | About Me
      p
        |Action is eloquence. The only thing worth saying is what you really feel. They are composed like music. guided by his sense of beauty, and individual transforms a fortuitous occurrence (beethoven’s music, death under a train) into a motif, which then assumes a permanent place in the composition of the individual’s life. Anna could have chosen another life.
      p
        |Action is eloquence. The only thing worth saying is what you really feel. They are composed like music. guided by his sense of beauty, and individual transforms a fortuitous occurrence (beethoven’s music, death under a train) into a motif, which then assumes a permanent place in the composition of the individual’s life. Anna could have chosen another life.
      hr

    // inject:js
    // endinject
