.copyright
  .row
    .copy.col-md-3.col-xs-5
      p
        | Copyright © 2014 Andy Parker
    .col-md-5.col-xs-2
    .controls.col-md-4.col-xs-5
      ul
        li: button.prev
        li: button.next
        li: button.play.playing
        li: button.fullsc
