doctype html
html(lang='en')
  head
    title Training web technologies
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/all.css', rel='stylesheet')
    link(href='/css/vendor.css', rel='stylesheet')

  body
    .container-fluid
      .loader
      include _menu.jade
      .mainContent
        include _home.jade
      include _footer.jade
    // inject:js
    // endinject
