doctype html
html(lang='en')

  head
    title Training web technologies
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/all.css', rel='stylesheet')
    link(href='/css/vendor.css', rel='stylesheet')

  body
    section.menu
      ul
        li: a(href="#") 
          | HOME
        li: a(href="#") 
          | ABOUT
        li: a(href="#") 
          | PORTFOLIO
        li: a(href="#") 
          | BLOG
        li: a(href="#") 
          | CONTACT

    header.container-fluid
      .row
        nav.navbar.col-lg-3.col-md-4.col-xs-4
          section.submenu
            ul
              li: a(href="#") 
                | HOME
              li: a(href="#") 
                | HOME1
              li: a(href="#") 
                | HOME2
          ul
            li: a(href="#") 
              | HOME
            li: a(href="#") 
              | ABOUT
            li: a(href="#") 
              | PORTFOLIO
          ul
            li: a(href="#") 
              | BLOG
            li: a(href="#") 
              | CONTACT
          button

        .logo.col-lg-6.col-md-6.col-xs-5
          h1 PAGINA WEB
          h2 DE PRUEBA

        .sociales.col-lg-3.col-md-2.col-xs-3
          ul
            li F
            li T
            li B
    .fotos

    .backcontrols

    .copyright
      .row
        .copy.col-md-3.col-xs-5
          p Copyright © 2014 Andy Parker
        .col-md-5.col-xs-2
        .controles.col-md-4.col-xs-5
          ul
            li: button.prev
              | <
            li: button.next
              | >
            li: button.play
              | ||
            li: button.fullsc
              | ↑

    // inject:js
    // endinject
