@import 'variables/colors';

body {
  background-color: $background !important;
  text-align: center;
  overflow-x: hidden;
  height: 100%;
}

header {


  /*
  **NAVIGATION
  */

  li{
    list-style-type:none;
    padding: 10px 27% 0px 0;

    &:nth-child(even){
      float:right;
    }

    &:nth-child(odd){
      float:left;
    }

  }

  a{
    color: $text-color;
    transition: color .2s ease;

    &:hover{
      color:$text-hover;
    }
  }

  nav{
    padding: 35px 0 20px 0;
    font-size:10px;
    top: 0;
    width:300px !important;

  }

  /*
  **LOGO
  */

  .logo{
    letter-spacing:8px;
    @media screen and (max-width: 1200px){
      width: 50%;
    }

    @media screen and (max-width: 1000px){
      width: 20%;
    }

    h1{
      font-weight:800;
      font-size:20px;
      margin-top:40px;
    }

    h2{
      margin: 0;
      font-size:8px;
    }
  }

  /*
  **SOCIALES
  */
  .sociales {
    width: 200px !important;
    margin-top:50px;
  }

  }

 /*
  **SLIDESHOW
  */

#Slideshow {
  height: 60%;
  width: 100%;
  overflow: hidden;

  img {
    width: inherit;
    max-width: 100%;
    }
}



  /*
  **COPYRIGHT
  */

#Copyright .row{
  width: 100%;
}

.copy{
    padding: 15px 0 0 0;
    font-size: 12px;
  }