//IMPORTS

@import 'variables/colors';
@import 'external/bootstrap_override';

body {
  text-align: center;
  height: 100%;
  background: url('../assets/slide1.jpg') no-repeat center center fixed;
  background-size: cover;
  transition: background-image 0.5s ease;
}

li {
  list-style-type: none;
}

header {
  overflow: hidden;
  background-color: $white;
  margin-top: -400px;
  position: relative;
  z-index: 300;
  transition: margin-top 1s;

  //ABOUT PAGE

  &.about-header {
    position: absolute;
    width: 100%;
  }

  //NAVIGATION

  ul {
    display: inline-block;
  }

  li {
    padding: 10px 10px 0 0;
  }

  a {
    color: $black;
    transition: color 0.2s ease;

    &:hover {
      color: $light-brown;
    }
  }

  nav {
    position: relative;
    padding: 35px 0 20px 0;
    font-size: 10px;
    top: 0;
    text-align: left;

    button {
      background-color: transparent;
      border: 0;
      width: 15px;
      outline: none;
      margin-left: 10px;
      height: 15px;
      background-image: url('../assets/menu.png');
      background-size: contain;
      background-repeat: no-repeat;
      display: none;
    }

    &.col-sm-3 ul li {
      padding: 10px 100px 0 0;
    }
  }

  //LOGO

  .logo {
    letter-spacing: 8px;
    margin-top: 40px;
    transition: color 0.3s ease;

    h1 {
      font-weight: 800;
      font-size: 20px;
    }

    h2 {
      margin: 0;
      font-size: 8px;
    }

    &:hover,
    .sociales > *:hover {
      cursor: pointer;
      color: $gray;
    }
  }

  //SOCIALES

  .sociales {
    margin-top: 70px;

    ul li {
      font-weight: 800;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: $gray;
      }
    }

    li {
      display: inline;
      padding: 0 2px;
    }
  }
}

//COPYRIGHT

.copyright {
  position: fixed;
  height: 50px;
  bottom: -200px;
  background-color: $white;
  z-index: 300;
  width: 100%;

  button {
    height: 27px;
    width: 27px;
    outline: none;
    background-color: transparent;
    border: 0;
    background-image: url('../assets/sprite-controls.png');
    background-position: 0 -50px;

    &:hover {
      background-position-y: 2px;
    }
  }

  .controls {
    margin-top: 10px;
    position: relative;
    transition: top 0.5s;
    top: 0;

    &.controls-show {
      transition: top 2s;
      top: -200px;

      button {
        background-position-y: 27px;

        &:hover {
          background-position-y: 78px;
        }
      }
    }

    .play {
      background-position-x: 191px;

      &.playing {
        background-position-x: 131px;
      }
    }

    .prev {
      background-position-x: 95px;
    }

    .next {
      background-position-x: 60px;
    }

    li {
      display: inline-block;
    }
  }

  .copy {
    padding: 15px 0 0 0;
    font-size: 12px;
  }
}

//BRING CONTROLS BACK ON FULLSCREEN MODE

.backcontrols {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

//MENU

.menu {
  top: 92px;
  position: absolute;
  z-index: 900;
  width: 100%;
  height: 0;
  transition: height 1s;
  overflow: hidden;
  background-color: $translucent-white;

  ul {

    padding: 35px 0 0 0;
    transition: margin-top 1s;
    margin-top: -150px;

    &.items-menu-show {
      transition: margin-top 2s;
      margin-top: 0;
    }
  }

  li a {
    padding: 3px 0;
    color: $black;
    transition: color 0.3s ease;

    &:hover {
      color: $gray;
    }
  }
}

//MENU HOVER

.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 120px;
  min-width: 120px;
  width: auto;
  height: 158px;
  background-color: $dark-brown;

  ul {
    padding: 50px 20px;
  }
}

//FOTOS EN MIN-WIDTH

.fotos {
  width: 100%;
  display: none;

  img {
    width: 100%;
  }
}

@media screen and (max-width: '800px') {
  header {
    .menu {
      display: none;
    }

    .sociales {
      margin-top: 35px;
    }

    .logo {
      margin-top: 0;
    }

    nav button {
      display: block;
    }
  }

  nav > ul {
    display: none;
  }
}

@media screen and (max-width: '480px') {
  .copyright .controls {
    display: none;
  }

  header .sociales {
    display: none;
  }
}

.bot-menu-show {
  transition: bottom 1s;
  bottom: 0;
}

.bot-menu-hide {
  transition: bottom 1s;
  bottom: -200px;
}

.top-menu-show {
  transition: margin-top 1s;
  margin-top: 0;
}

.top-menu-hide {
  transition: margin-top 1s;
  margin-top: -400px;
}

.toggle-menu-show {
  transition: height 1s;
  height: 200px;
}

.display {
  display: block;
}

.not-display {
  display: none;
}

.opacity-show {
  transition: opacity 1s, transform 1s;
  transform: translateY(0);
  opacity: 1;
}

// ABOUT MAIN STYLES

.header-img {
  top: 0;
  position: relative;
  min-height: 400px;
  background-image: url('../assets/about_me.jpg');
  background-position: center;
  background-size: cover;
}

.inverse {
  color: $white;
  background-color: transparent;

  a {
    color: $white;

    &:hover {
      color: $gray;
    }
  }

  .submenu a {
    color: $black;

    &:hover {
      color: $light-brown;
    }
  }
}

article {
  position: relative;
  z-index: 200;
  width: 100%;
  padding: 100px 0;
  background-color: $dark-brown;

  h1 {
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 10px;
    width: 300px;
    margin: 0 auto;
    border-bottom: 8px solid $black;
    transition: opacity 1s, transform 1s;
    opacity: 0;
    transform: translateY(100px);
  }

  p {
    margin: 0 auto;
    padding: 40px 0;
    font-size: 23px;
    line-height: 35px;
    color: $gray;
    width: 50%;
    min-width: 400px;
    max-width: 1000px;
    transition: opacity 1s, transform 1s;
    transform: translateY(100px);
    opacity: 0;
    text-align: left;
  }
}

hr {
  width: 100px;
  height: 1px;
}

.about-copyright {
  position: relative;
  bottom: 0;

  .row {
    margin: 0;
  }

  .controls {
    display: none;
  }

  .copy {
    display: block;
    width: 100%;
  }
}

// LOADER MAIN STYLES

.loader {
  position: absolute;
  top: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: $dark-brown;
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;

  &.visible {
    transition: opacity 0.5s;
    visibility: visible;
    opacity: 1;
  }

  &.invisible {
    transition: opacity 0.3s;
    opacity: 0;
  }
}
