@import 'variables/colors';

body {
  background-color: $background !important;
  text-align: center;
  height: 100%;
}


li {
  list-style-type: none;
}


header {
  z-index: 100;
  overflow: hidden;
  /*
  **NAVIGATION
  */

  ul {
    display: inline-block;

  }

  li {
    padding: 10px 27% 0px 0;
  }

  a {
    color: $text-color;
    transition: color .2s ease;

    &:hover {
      color:$text-hover;
    }
  }

  nav{

  position:relative;

    & > ul {
      @media screen and (max-width: "800px") {
          display:none;
        }
    }
    button{
      display:none;
      @media screen and (max-width: "800px") {
          display:block;
        }
    }
    padding: 35px 0 20px 0;
    font-size:10px;
    top: 0;
    text-align:left;

    &.col-sm-3 ul li{
      padding: 10px 10% 0px 0;
    }
  }

  /*
  **LOGO
  */

  .logo{
    letter-spacing:8px;
    @media screen and (max-width: "800px") {
      margin-top:0;
    }

    margin-top:40px;
    transition: color .3s ease;

    h1{
      font-weight:800;
      font-size:20px;
    }

    h2{
      margin: 0;
      font-size:8px;
    }

    &:hover, .sociales > *:hover{
      cursor:pointer;
      color:$logo-hover;
    }

  }

  /*
  **SOCIALES
  */
  .sociales {
    @media screen and (max-width: "800px") {
      margin-top:35px;
    }
    margin-top: 70px;
    li {
      display: inline;
      padding: 0 2px;
    }
  }

  }

 /*
  **SLIDESHOW
  */

#Slideshow {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background-image: url("../assets/slide1.jpg");
  background-position:center;
  transition: background-image 0.5s ease;

  img {
    width: inherit;
    display:none;
    max-width: 100%;
    }
}



  /*
  **COPYRIGHT
  */

#Copyright{
  position:fixed;
  height:50px;
  bottom:0;
  background-color:$background;
  width:100%;
}

#Copyright .row{ 
}

.controles{
  margin-top: 10px;
  li{
    display: inline-block;
  }
}
.copy{
    padding: 15px 0 0 0;
    font-size: 12px;
  }

#menu{
  top:95px;
  display:none;
  position:absolute;
  width:100%;
  height:0;
  overflow:hidden;
  background-color:rgba(253,253,249,.7);

  ul{
    margin-top:-150px;
    padding: 35px 0 0 0;
  }

  li a{
    padding: 3px 0;
    color: $text-color;
    transition:color .3s ease;

    &:hover{
      color:$logo-hover;
    }

  }

}

#submenu{
  display:none;
  position:absolute;
  top:0;
  left:150px;
  min-width:100px;
  width:auto;
  height:158px;
  background-color:$selected;
  ul {
    padding:50px 20px;
  }
}