
$wolox-green: #8dc63f;
$wolox-blue: rgba(85, 164, 218, .7);
$background: #FDFDF9;
$text-color: #000;
$text-hover: #D9CABD;
$logo-hover: #7C7C7A;
$selected: #F7F6EF;
$transparent: rgba(0,0,0,0);
$button-selected: #444444;
$brown: brown;
$gray: gray;